@charset "utf-8";
/* CSS Document */

body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,td,figure{margin:0;padding:0;}
body{font:12px  "宋体"; word-wrap:break-word;}
a,u,s,del{color:#666;text-decoration:none} 
fieldset ,a img,.bor0 {border:0;}
i,em,b,th{font-style:normal;font-weight:100;}
li{list-style:none;}
img{vertical-align:middle;}
table{border-collapse:collapse;}/*合并边框*/
input,textarea{outline:none;}/*去除google表单点击虚框*/
textarea{resize:none;}/*禁止拖动*/

.ind2{text-indent:2em;}
.valign{text-align:center;}
.valign img{vertical-align:middle;}    /*图片在文档里居中*/
.valign:after{content:"";display:inline-block;vertical-align:middle;height:100%;}

.valign1{display: flex;justify-content: center;align-items: center;}/*子元素在父文档里居中*/
.between{display: flex;justify-content:space-between;align-items: center;flex-flow: row wrap}/*两端对齐*/



/* 单行文本自动出现省略号 */
.over{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

/* 解决高度塌陷和margin-top向上传递 */
.clear{zoom:1;}/* 解决IE的高度塌陷问题 */
.clear:before{content:"";display:table;}/*解决传递*/
.clear:after{content:"";clear:both;display:block;}/*解决塌陷*/




#footer{height:117px;background:#eaeaea;border-top:1px solid #b4b4b4;text-align:center;}
#footer .footer-t{font:12px/22px "";padding-top:36px;}
#footer .footer-t a{color:#000;}
#footer .footer-t span{color:#333;}
#footer p{font:12px/22px "";}
